<%= form_tag(entities_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :query, params[:query], placeholder: "" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
Parser that converts input query into mongoid query

Example queries - 
name=Bubble sort // when it is an exact match
addr~osconcepts  // equivalent of Entity.where(:addr=>/osconcepts/i)
isleaf=true,type~algorithm //multiple queries can be separated by comma
Count - <%=@entities.count%>
<table>
  <thead>
    <tr>
      <td>Type</td>
      <td>addr</td>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.type %></td>
        <td><%= entity.addr %></td>
        <td><%= link_to 'Show', entity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity', new_entity_path %>
<style>
#query{
  width:300px;
  height: 30px;
  margin-left: 300px;
}
</style>